*.obj
*.pch
*.ncb
*.zip
*.dll
*.exe
*.lib
*.sys
*.manifest
*.pdb 
*.idb
*.sdf
*.opt
*.plg
*.dsw
*.dsp
*.aps
*.clw
*.old
*.tlog
*.ipch
*.log
*.res
*.user
Buildlog.*
.vs
.svn
archive
bin
Debug
Release
obsolete
retired_code
build/
.vscode/

